<% layout('/layouts/boilerplatewithoutFooter') %>
<style>
    .card {
        border: 1px solid #fefefe;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        display: flex;
    }

    .card-img-top {
        height: 200px; /* Set a fixed height for the images */
        object-fit: cover;
        border-radius: 4px 0 0 4px;
    }

    .card-details {
        flex: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-subtitle {
        font-size: 18px;
        color: #888;
        margin-bottom: 10px;
    }

    .card-text {
        flex: 1;
        margin-bottom: 10px;
    }

    .card-actions {
        margin-top: auto;
    }
</style>
<div class="row mt-5">
    <% for (let campground of campgrounds){ %>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="<%= campground.image %>" class="card-img-top" alt="Campground Image">
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="card">
                <div class="card-details">
                    <h1 class="card-title"><%= campground.title %></h1>
                    <h2 class="card-subtitle mb-2 text-muted"><%= campground.location %></h2>
                    <p class="card-text"><%= campground.description %></p>
                    <div class="card-actions">
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>
